a {
    text-decoration: none;
    color: #fff;
}

header {
    z-index: 1;
    position: absolute;
}
.nav-container {
    padding: 15px 250px;
}

.nav-item {
    font-family: Oswald;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-item a {
    color: #dfdfdf;
    font-family: "Racing Sans One", sans-serif;
}

/* section {
    padding: 30px 278px;
} */

.get-ticket-btn {
    background-color: #DE2A2C;
    padding: 10px 24px;
    text-transform: uppercase;
    border-right: 5px solid #e1d3da;
    border-bottom: 5px solid #e1d3da;
    border-bottom-right-radius: 4px;
    color: #fff;
    font-family: 'Racing Sans One', sans-serif;
}

.get-ticket-btn:hover {
    /* background-color: #F77E2E; */
    color: #000000 !important;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.hero-section {
    padding-top: 10rem;
    background-image: url("../frontend/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
    background-color: hsla(0, 0%, 0%, 0.7);
    height: 100vh;
    position: relative;
}


.hero_left-content h1 {
    color: #f6f6f6;
    font-size: 6rem;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2rem;
    margin-left: 2rem;
}

.hero-text-content {
    margin-top: -1.5rem;
}

.text-right-datetime {
    text-align: right;
    margin-right: 10rem;
}

.time {
    color: #efefef;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.date {
    color: #f77e2e;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.hero_right-content {
    padding-top: 5rem;
    padding-left: 5rem;
}

.hero_right-content p {
    color: #fff;
    padding-top: 5rem;
    position: absolute;
    left: -1%;
}

.experience-text1 {
    background-color: #474747;
    padding: 3.5rem 1rem !important;
}

.join-header {
    font-size: 2rem !important;
    font-family: "Racing Sans One", sans-serif;
    text-align: center;
    text-shadow: 2px 2px #fff;
    color: #CC3A3A;
    margin-bottom: 2rem;
}

.experience-text1 p {
    font-family: inherit;
}

.ticket-strock-section {
    background: url('../frontend/images/tickets-strocks-bg.png');
    width: 100vw;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.ticket-strocks {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100vw;
    text-align: center;
    font-family: 'Faster One', sans-serif;
}

.ticket-strocks marquee {
    font-size: 1.5rem !important;
    width: 100vw;
}

.purple-text {
    background: #CC3A3A;
    text-align: center;
    transform: rotate(-12deg);
    width: 100vw;
    position: absolute;
    box-sizing: content-box;
}

.yellow-text {
    background: #F77E2E;
    transform: rotate(12deg);
    width: 100vw;
    box-sizing: content-box;
}

/* Featuring starts */

.featuring-section {
    background: url("../frontend/images/drif-hunters.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: hsl(0, 59%, 51%, .99);
    padding: 5rem 0;
}

.featuring-card h3 {
    font-family: 'Racing Sans One', sans-serif;
    margin-bottom: .5rem;
}

.featuring_card-content {
    padding: 20px;
    background-color: #dbfe01;
}
.section-title h2 {
    font-family: "Racing Sans One", sans-serif !important;
    font-size: 2rem;
}

.featured-img {
    width: 7rem;
}
.content1 {
    background-color: #67C6DB;
}

.get-involved_card-content.content1 {
    background-color: #693498 !important;
    color: #fff;
}

.content2 {
    background-color: #F77E2E;
}

.content3 {
    background-color: #B771F4;
}

.feature-image img {
    width: 100rem;
}

.section-title .left {
    padding-left: 25rem;
}

.section-title .right {
    padding-left: 14rem;
}

.tickets-section-title {
    height: 25vh;
    padding: 0 !important;
    background: linear-gradient(
            0deg,
            rgba(33, 31, 31, 0.73) 0%,
            rgba(33, 31, 31, 0.73) 100%
        ),
        url("../frontend/images/grab-bg.png"),
        lightgray 0px -457.872px / 100% 380.851% no-repeat;
        background-position: center;
}

.grab-arrow {
    margin-top: -2rem;
}

.tickets-section-title h1 {
    padding: 3rem 20px;
    margin-top: -5rem;
}

/* tickets section start */

.tickets-section {
    background: #fff;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #000000;
}

.tickets-section-title .coupe {
    color: #c686ff;
    font-family: 'Racing Sans One', sans-serif;
}

.tickets-section-title .your {
    color: #f6f6f6;
    font-family: 'Racing Sans One', sans-serif;
}

.tickets-section-title .tickets {
    color: #feed01;
    font-family: 'Racing Sans One', sans-serif;
}

.ticket-header {
    text-align: center;
}

/* gold ticket */

.gold-ticket {
    background-color: #2d2e2b;
    padding: 30px 20px 60px 20px;
    /* border-bottom-right-radius: 2rem; */
}

.gold-ticket h3 {
    color: #fff;
    text-align: center;
    font-family: 'Faster One', sans-serif;
}
.gold-ticket h2, .platinum-ticket h2, .diamond-ticket h2 {
    color: #CC3A3A;
    margin-top: 1rem;
}

.check {
    margin-right: .5rem;
}
.tire-img {
    width: 15rem;
    margin-top: -5.2rem;
    margin-left: -5rem;
}

.tire-img2 {
    width: 15rem;
    margin-top: -11.1rem;
    margin-left: 10rem;
    /* background: red; */
}
.description {
    padding-bottom: 50px;
    padding-top: 30px;
    line-height: 30px;
    color: #fff;
}
/* platinum ticket */

.platinum-ticket {
    background-color: #262424;
    padding: 30px 20px 60px 20px;
}

.platinum-ticket h3 {
    color: #B771F4;
    text-align: center;
    font-family: 'Faster One', sans-serif;

}

/* diamond ticket */

.diamond-ticket {
    margin-top: -1.5rem;
    background-color: #262b1d;
    padding: 30px 20px 60px 20px;
}

.diamond-ticket h3 {
    color: #F77E2E;
    text-align: center;
    font-family: 'Faster One', sans-serif;
}

/* celebrity section */

.celebrity-section {
    background: url("../frontend/images/celeb-bg.png");
    padding: 5rem 0 5rem 18rem;
}

.celebrities {
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    margin-top: -5rem;
    margin-left: -20rem;
}

.celebrity-text {
    color: #fff;
    max-width: 35rem;
    margin-left: 2rem;
}

.celebrity-text h1 {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 3rem;
}

.celebrity-text p {
    margin: 2rem 0;
}

.celebrity-images {
    margin-bottom: -5rem;
    margin-left: 46.5rem;
    width: 100%;
    /* margin-right: -10rem !important; */
}

/* .celebrity-text a {
    position: absolute;
    transform: rotate(-7deg);
} */

.celebrity-images img {
    max-width: 245px;
}


/* Experience Section */
.drift-experience-section {
    background-image: url("../frontend/images/drift-hunters-bg.png");
    padding: 4rem 0;
}

.experience-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.experience-text {
    background: #CC3A3A;
    padding: 0;
    margin: 0;
    font-family: "Racing Sans One", sans-serif;
    color: #fff;
    padding: 2.4rem 1.5rem;
}

.experience-text h1 {
    font-size: 3.5rem;
}


/* Get involved section */
.get-involved-section {
    background: url("../frontend/images/drif-hunters2-bg.png");
}

.get-involved-card img {
    width: 100%;
}

.get-involved-section .section-title {
    color: #CC3A3A;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.get-involved-section .section-title h2 {
    font-size: 3rem;
    font-family: 'Racing Sans One', sans-serif;
    margin: 0 2rem;
}

.get-involved-section .section-title img {
    max-width: 10rem;
}

.get-involved_card-content {
    padding: 50px;
}
.get-involved_card-content h3{
    font-family: 'Racing Sans One', sans-serif;
    color: #fff;
    margin-bottom: 1rem;
}
.buy-btn {
    margin-top: 2rem;
}
.get-ticket-btn.buy-now {
    background: #2E2929;
}
.get-ticket-btn.buy-now:hover {
    background: #2E2929;
    color: #fff !important;
}

.products-section {
    background: #212121;
}

.production-titles {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.production-titles img {
    margin-right: -15rem;
}
.products-section h1 {
    font-family: "Racing Sans One", sans-serif;
    font-size: 3rem !important;
    /* background-color:red; */
}

.products-section .magenta {
    color: #B771F4;
    font-family: "Faster One", sans-serif;
}

.products-section .yellow {
    color: #F77E2E;
    font-family: "Faster One", sans-serif;
}

.products-section .margin-left {
    margin-left: 7rem;
}

.product_image-wrap {
    background: linear-gradient(112deg, #bac0c9 0%, #bcc2cc 100%);
}

.product-description {
    color: #fff;
    padding: 30px 0 30px 0;
}

.product-item {
    padding: 30px;
}

.product-price {
    color: #CC3A3A;
}

.get-ticket-btn.view-product {
    color: #211f1f;
    background-color: #fff;
    border-color: #CC3A3A;
    font-family: 'Racing Sans One', sans-serif;
} 
.product-item-title {
    font-family: 'Racing Sans One', sans-serif;
}
/* sponsors section styles */
.sponsors-section {
    background: #CC3A3A;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.racelords {
    font-family: 'Original Surfer', sans-serif;
    margin: 1rem auto;
}
.riftrofits {
    font-family: 'Passero One', sans-serif;
    margin: 1rem auto;
}

img.road-tire{
    width: 8rem;
}

img.road-tire.one{
    margin-left:-.5rem;
    transform: rotateY(180deg);
}

img.road-tire.two{
    margin-right:-.5rem;
}

.sponsors {
    padding-left: 3rem;
}

/* footer styles starts */

footer {
    background: #211f1f;
    color: #fff;
    padding: 60px 0 0 0;
}

footer img {
    max-height: 90px;
}

footer hr {
    border: 1px solid;
    opacity: 25%;
}

.footer-location {
    padding: 1rem 0;
}

.footer-socials i {
    font-size: 26px;
    background-color: #fff;
    color: #CC3A3A;
    padding: 10px;
    margin: 10px;
}

footer h3 {
    font-family: "Racing Sans One", sans-serif;
    margin: 2rem auto;
}

.stay-connected {
    margin-bottom: .5rem;
}
/* Front End login styles starts */

.login-title {
    margin-bottom: 30px;
    font-family: "Racing Sans One", sans-serif;
}

.login-title .title {
    color: #CC3A3A !important;
}

.login-area {
    padding-top: 15rem;
    padding-bottom: 120px;
    background: url("../frontend/images/drift-hunters-bg.png");
}

.login-area .login-content .login-title .title {
    font-weight: 700;
    color: #fff;
    font-size: 30px;
}

.login-area .login-content {
    color: #fff;
}

.login-area .login-content .input-box input {
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    padding-left: 30px;
}

.login-area .login-content .input-box span {
    padding-bottom: 15px;
    font-size: 15px;
    display: inline-block;
}

.login-area .login-content .input-box {
    margin-top: 20px;
}

.login-area .login-content .input-btn button {
    width: 100%;
}

.login-area .login-content .input-btn p {
    padding-top: 20px;
}

.login-area .login-content .input-text p {
    font-size: 15px;
    font-weight: 400;
    color: #666;
    line-height: 26px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.login-area .login-content .input-text p a {
    color: #dbfe01;
}

.login-btn {
    display: inline-block;
    margin-left: 15px;
}

/* Responsive styles */
@media (max-width : 1200px) {
   
    .experience-text h1 {
        font-size: 2.8rem;
    }
    .register-i-btn {
        font-size: .8rem;
    }

    .racelords {
        font-size: 1.5rem;
    }
    .riftrofits {
        font-size: 1.5rem;
    }

    img.road-tire{
        width: 5rem;
    }
}

@media (max-width : 980px) {
    .hero_left-content h1 {
        font-size: 4rem !important;
        margin-left: 0rem;
    }
    img.road-tire{
        width: 3rem;
    }

    .racelords {
        font-size: 1.2rem;
    }
    .riftrofits {
        font-size: 1.2rem;
    }
}

@media (min-width : 768px) and (max-width : 979px) {
    .hero_left-content h1 {
        font-size: 3.5rem !important;
        margin-left: 0rem;
    }
    .experience-text h1 {
        font-size: 3rem;
    }

    .get-involved-section .section-title h2 {
        font-size: 2.5rem
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
    section,
    footer {
        padding: 20px;
    }

    .hero-section {
        height: 100vh;
        padding-top: 10rem;
    }

    .hero-content p {
        left: auto;
        /* margin-top: 5rem; */
    }

    .hero_right-content {
        padding-left: 1rem;
    }
        .hero_left-content h1 {
            font-size: 2.5rem !important;
            margin-left: 0rem;
        }

        .hero-text-content {
            margin-top: 7rem !important;
        }
        

    .text-right-datetime {
        margin-right: 1rem;
    }

    .hero_right-content {
        padding-top: 1rem;
    }

    .time,
    .date {
        font-size: 1rem;
        line-height: normal;
    }

    /* ticket Strocks */
    .ticket-strock-section {
        height: 20vh;
    }
    .ticket-strocks {
        height: 20vh;
        width: 100vw;
    }

    .ticket-strocks img {
        max-width: 30rem;
    }
    .ticket-strocks h1 {
        font-size: 9px;
    }

    .tire-img2 {
        display: none;
    }

    .diamond-ticket {
        margin-top: auto;
    }

    .section-title .left,
    .section-title .right {
        padding-left: 0;
    }

    .celebrity-section {
        padding: 20px;
    }

    .celebrities {
        margin-top: -1.2rem;
        margin-left: -5rem;
    }

    .celebrity-text h1 {
        font-size: 2rem;
        margin-top: 2rem;
    }
    

    .celebrity-images {
        padding-top: 0rem;
        margin-bottom: .5rem;
            margin-left: 15rem;
    }

    .celebrity-images img {
        max-width: 195px;
    }

    .get-involved_card-content {
        padding: 28px;
    }

    .experience-text h1 {
        font-size: 2rem;
    }

    .get-involved-section .section-title h2 {
        font-size: 2rem
    }
    .get-involved-section .section-title img {
        max-width: 5rem;
    }

    .register-i-btn {
        font-size: 1rem;
    }

    .production-titles img {
        margin-right: -15rem;
        max-width: 15rem;
    }
    .products-section h1 {
        font-family: "Racing Sans One", sans-serif;
        font-size: 2rem !important;
        /* background-color:red; */
    }

    .sponsors {
        padding-left: 0;
    }
    img.road-tire {
        display: none;
    }
    
}


@media (max-width : 480px) {
    .hero-section {
        height: 100vh;
        padding-top: 10rem;
    }

    .hero-text-content h1{
        font-size: 1.5rem;
        background-color: red;
    }

    .hero-text-content {
        margin-top: 2rem !important;
    }

    
    .experience-text h1 {
        /* font-size: 1.5rem; */
    }

    .riftrofits, .racelords {
        font-size: .5rem;
    }
    
}